<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Lyra - GreenPath</title>
</head>
<body>
<h1>Lyra / GreenPath</h1>
<ul>
    <li><a th:href="@{/register}">Register</a></li>
    <li><a th:href="@{/login}">Login</a></li>
    <li><a th:href="@{/quiz}">Take Quiz</a></li>
    <li>View trails: <form th:action="@{/trails}" method="get" style="display:inline-block; margin-left:6px;"><input name="userId" placeholder="userId"/><button type="submit">Go</button></form></li>
</ul>
</body>
</html>
