<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - GreenPath</title>
</head>
<body>
    <h1>Login</h1>
    <div th:if="${param.error}">
        <p style="color:red;">E-mail ou senha inválidos.</p>
    </div>
    <div th:if="${param.logout}">
        <p style="color:green;">Você saiu com sucesso.</p>
    </div>
    <form th:action="@{/login}" method="post">
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Entrar</button>
    </form>
    <p>Não tem conta? <a th:href="@{/register}">Cadastre-se</a></p>
</body>
</html>
